@import "config";
@import "utilities";
@import "item_grid";
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// logo
.logo {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}

// main-nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding: 0 1.2rem;
  }

  a {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    transition: border-color 0.5s ease;
    padding-bottom: 0.5rem;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}
// Header

#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    .header-content {
      padding-top: 10%;

      h1 {
        font-size: 3rem;
      }
    }
  }

  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home section
#home {
  &-a {
    .specials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-top: 3rem;

      i {
        color: $main-color;
      }
    }
  }

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-number {
          font-weight: bold;
          font-size: 1.6rem;
        }

        &.stats-title {
          font-size: 1.2rem;
        }
      }

      div {
        padding: 2rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      text-align: center;

      &-icon {
        height: 70px;
        width: 70px;
        line-height: 70px;
        border-radius: 50%;
        position: relative;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        margin: 2rem 0;
        text-align: center;
        transition: all 1s;

        &:hover {
          background: $main-color;
          color: set-text-color($main-color);
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        padding: 0.8rem;
        border-radius: 50%;
        background: $main-color;
        color: set-text-color($main-color);
        text-align: center;
        transition: all 1s;
      }
    }
  }
}

// About
#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        "bioimg bio bio"
        "awd1 awd2 awd3";
      gap: 1rem;

      .bio-img {
        grid-area: bioimg;
      }

      .bio {
        grid-area: bio;
        border-left: 3px solid $main-color;
        padding: 1rem;
      }

      .award-1 {
        grid-area: awd1;
      }
      .award-2 {
        grid-area: awd2;
      }
      .award-3 {
        grid-area: awd3;
      }

      .award-1 i,
      .award-2 i,
      .award-3 i {
        color: $main-color;
        margin: 1rem;
      }
    }
  }

  &-b {
    .progress {
      overflow: hidden;
      height: 1.2rem;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.55rem;

      div {
        background: $main-color;
        height: 100%;
        text-align: center;
        color: #fff;
      }
    }
  }

  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      img {
        width: 70%;
      }
    }
  }

  &-d {
    .about-testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5rem;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      p {
        border-radius: 5px;
        border: 1px solid $medium-color;
        padding: 0.5rem;
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 1rem;
      }
    }
  }
}

// Contact
#contact {
  &-a {
    .form-style {
      display: grid;
      grid-template-areas:
        "name subject"
        "email phone"
        "message message";
      gap: 1.2rem;
      margin-bottom: 1rem;

      .input-name {
        grid-area: name;
      }
      .input-email {
        grid-area: email;
      }
      .input-subject {
        grid-area: subject;
      }
      .input-phone {
        grid-area: phone;
      }
      .input-message {
        grid-area: message;
        height: 6.5rem;
      }

      .input-type {
        padding: 0.5rem 0.7rem;
      }
    }

    button[type="submit"] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-c {
    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }
}

#main-footer {
  height: 5rem;
  background: $dark-color;
  color: #fff;

  .footer-content {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .socials i {
      width: 20px;
      height: 20px;
      line-height: 20px;
      padding: 0.5rem;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-right: 1rem;
      color: #fff;
      text-align: center;

      &:hover {
        background: $main-color;
      }
    }
  }
}

@import "media";
